:root {
  --background: #29272b;
  --f_high: #ffffff;
  --f_med: #e47464;
  --f_low: #66606b;
  --f_inv: #000000;
  --b_high: #ffffff;
  --b_med: #5f5353;
  --b_low: #47424a;
  --b_inv: #e47464;
}

/* Frameless Electron windows aren’t draggable. Here we make everything undraggable, and then explicitly allow dragging on the body. This results in only the top bar (where the traffic light buttons are) being used as a drag handle for the entire window */

* {
  -webkit-app-region: no-drag;
}

body {
  -webkit-app-region: drag;
  padding: 36px 0 0 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--background);
  color: var(--f_high);
  display: grid;
  grid-template-columns: 300px auto;
  grid-template-rows: 2em auto 2em;
  grid-template-areas: "header header" "file-browser main" "footer footer";
}

body, input, textarea {
  font-family: 'Input Mono';
}

a {
  color: var(--f_high);
  text-decoration: none;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.file-browser {
  grid-area: file-browser;
  width: 300px;
  padding: 1em;
  line-height: 1.25;
}

.sidebar__list li a{
  color: var(--f_med);
}

.sidebar__list li.is-empty a {
  color: var(--f_low);
}

.sidebar__list li.is-active a{
  color: var(--f_med);
  border-left: 3px solid currentColor;
  padding-left: 3px;
  margin-left: -6px;
}

.sidebar__list li a:hover,
.sidebar__list li a:focus {
  color: var(--f_high);
  border-left: 3px solid currentColor;
  padding-left: 3px;
  margin-left: -6px;
  outline: none;
}

.text-pane {
  grid-area: main;
}

.text-pane textarea {
  color: var(--f_high);
  border: 0;
  resize: none;
  background: transparent;
  overflow: hidden;
  padding: 1em;
  width: 100%;
  height: 100%;
  max-width: 50em;
  line-height: 1.25;
}

.text-pane textarea:hover,
.text-pane textarea:focus {
  outline: none;
}

.text-pane textarea::selection {
  color: var(--f_inv);
  background: var(--b_inv);
}

header {
  grid-area: header;
  padding: 0;
}

header input {
  background: var(--background);
  color: var(--f_high);
  border: 1px solid var(--b_low);
  padding: 0.35em 1em;
  border-left: none;
  border-right: none;
  width: 100%;
}

header input:focus {
  outline: none;
  border-color: var(--b_inv);
  background-color: var(--b_inv);
  color: var(--f_inv);
}

footer {
  grid-area: footer;
  padding: 0.5em 1em;
}
